@import "tailwindcss";

*{
    font-family: 'Rubik';
}

.heading{
    font-weight: 500;
}

.btnregister{
    text-align: center;
    font: normal normal medium 16px/17px 'Rubik';
    letter-spacing: 0px;
    color: #1D2226;
    opacity: 1;
}

.signinhead{
    text-align: left;
    letter-spacing: 0px;
    color: #1D2226;
    opacity: 1;
}